<div class="flex items-center">
  <%= link_to tasks_path do %>
      <%= image_tag "right-arrow.png", class: "w-4 h-4" %>
  <% end %>
  <h1 class="ml-4">
    <%= t("edit_task") %>
  </h1>
</div>
<div class="w-full flex">
  <%= render "form", task: @task %>
</div>
