<div class="px-28 flex bg-white w-screen">
  <div class="py-8 mr-4 group relative h-full">
    <% if params[:controller] == 'tasks' %>
      <%= button_to t("tab.my_task"), tasks_path, method: :get, class:"text-red-400" %> 
      <div class="absolute bottom-0 bg-red-400 w-full h-1"></div>
    <% else %>
      <%= button_to t("tab.my_task"), tasks_path, method: :get, class:"group-hover:text-red-400" %> 
      <div class="absolute bottom-0 group-hover:bg-red-400 w-full h-1"></div>
    <% end %>
  </div>
  <div class="py-8 group relative min-w-8">
    <% if params[:controller] == 'admin/users' %>
      <%= button_to t("tab.manage_user"), admin_path ,method: :get, class:"text-red-400" %>
      <div class="absolute bottom-0 bg-red-400 w-full h-1"></div>
    <% else %>
      <%= button_to t("tab.manage_user"), admin_path, method: :get, class:"group-hover:text-red-400" %>
      <div class="absolute bottom-0 group-hover:bg-red-400 w-full h-1"></div>
    <% end %>
  </div>
</div>
