<div class="px-28 flex bg-white w-screen">
  <div class="py-8 mr-4 relative h-full">
    <div class="text-red-400">
      <%= t("tab.my_task") %>
    </div>
    <div class="absolute bottom-0 bg-red-400 w-full h-1"></div>
  </div>
  <div class="py-8 group relative min-w-8">
    <div class="group-hover:text-red-400">
      <%= t("tab.manage_user") %>
    </div>
    <div class="absolute bottom-0 group-hover:bg-red-400 w-full h-1"></div>
  </div>
</div>
